@font-face {
  font-family: kenzo;
  src: url(fonts/Kenzomaru-9Yp2K_2.otf);
}

@font-face {
  font-family: herucla;
  src: url(fonts/HerculanumLTStd.otf);
}

body{
  overflow: hidden;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.0)), url(img/desktop.appa.jpg);

  background-size: 100%;
}
@media  screen and (max-width: 1000px) {
  body{
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.0)), url(img/telefoon.appa.webp);
  
    background-size: 100%;
  }
  
}
* {
  color: #78c4c4;
  color: #b5ffff;
  color: #20180a;
  color: #5d5550;
  color: #ffd9a3;
  font-family: herucla;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.right-open{
  width: 25%;
  height: 100vh;
  float: right;
}

.left-open{

  width: 25%;
  height: 100vh;
  float: left;
}

.mid-open{
  width: 50%;
  height:100vh;
  display: grid;
  justify-content: center;
  align-items: flex-end;
}

.foto{
  
  border-radius: 50%;
}

.name{
  justify-self: center;
  align-self: flex-start;
  font-size: 70px;
  
}
.grid-container{
  display:flex;
  grid-template-columns: repeat(4, 1fr);

}
.buttons{
  border: solid 3px;
  align-self: center;
  justify-self: center;
  padding: 20px 50px ;
  margin: 10px;
  width: 100%;
  border-radius: 5%;
  background-color:#20180a;
  transition:width 3s, height 3s,transform 1s;
  animation-name: turn;
  animation-duration: 1.2s; 
}

.button-right{
  max-width: 1200px;
}

.button-other{
  max-width: 15%;
}

.buttons:hover{
  height: 70px;
  transform: scale(1.2);
  animation-name: turn;
  animation-duration: 2s; 
 
}


@keyframes turn {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}

  
}

.scroll-down {
  height: 20px;
  width: 40px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
   animation: scroll-down 1s ease-in-out infinite;
}

@keyframes scroll-down {
  0% {
     top:20%; 
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.page{
  width: 100%;
  height: 100vh;
  background-color:#5d5550;
}

img{
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kenzomaru", "herculanumLTstd","Myriad pro";
}

/*---nav start--- */
nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding(links en rechts) */
  padding: 0 5vw;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 4;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #dadbdd;
  /* halve breedte */
  flex: 1;
}

.nav-menu {
  /* halve breedte */
  flex: 1;
  display: flex;
  justify-content: space-between;

  /* max 550px */
  max-width: 550px;
}

.nav-menu li {
  list-style: none;
  color: #dadbdd;
  font-weight: 600;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #dadbdd;
  margin: 4px;
}

.burger {
  display: none;
}

@media screen and (max-width: 769px) {
  .burger {
    display: block;
  }

  /* Het menu wordt rechts weergegevn */
  .nav-menu {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 50vw;
    height: calc(100vh - 80px);

    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* animatie */
    transform: translateX(100%);
  }

  /* als het menu wordt geopend, schuift het naar de beginpositie */
  .nav-menu.open {
    transform: translateX(0);
    transition: 0.4s ease-in-out;
  }

  .nav-menu li {
    /* top en bottom afstand */
    margin: 3vh;
    transform: translateX(20px);
    opacity: 0;
  }

  /* de knop klikt */
  .burger.active div {
    transition: 0.3s ease-in-out 0.3s;
  }

  /* de eerste lijn draait 45 graden */
  .burger.active .top-line {
    transform: rotate(45deg) translate(4px, 6px);
  }

  /* de derde lijn draait -45 graden */
  .burger.active .bottom-line {
    transform: rotate(-45deg) translate(4px, -6px);
  }

  /* animatie */
  .burger.active .middle-line {
    opacity: 0;
    transform: translateX(10px);
    transition: 0.3s ease-in-out;
  }

  /* animatie */
  @keyframes slideIn {
    from {
      transform: translateX(20px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
/*---nav end--- */




